# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Build / cache
dist/
build/
.cache/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Temporary files
tmp/
temp/
